In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
import glob
import xml.etree.cElementTree as et

In [7]:
from google.colab import files
uploaded = files.upload()

Saving plant_catalog.xml to plant_catalog.xml

In [90]:
tree = et.parse('plant_catalog.xml')
root=tree.getroot()

In [91]:
root

In [92]:
CATALOG=[]
PLANT=[]
COMMON=[]
BOTANICAL=[]
ZONE=[]
LIGHT=[]
PRICE=[]
AVAILABILITY=[]

In [93]:
data = []
cols = []
for i, child in enumerate(root):
    data.append([subchild.text for subchild in child])
    cols.append(child.tag)

In [94]:
df = pd.DataFrame(data)

In [95]:
df.head()

                     0                       1  2             3      4       5
0            Bloodroot  Sanguinaria canadensis  4  Mostly Shady  $2.44  031599
1            Columbine    Aquilegia canadensis  3  Mostly Shady  $9.37  030699
2       Marsh Marigold        Caltha palustris  4  Mostly Sunny  $6.81  051799
3              Cowslip        Caltha palustris  4  Mostly Shady  $9.90  030699
4  Dutchman's-Breeches     Dicentra cucullaria  3  Mostly Shady  $6.44  012099

In [96]:
df.columns

RangeIndex(start=0, stop=6, step=1)

In [97]:
df.rename({0:'Category'},inplace = True, axis = 1)

In [98]:
df.rename({1:'Plant'},inplace = True, axis = 1)
df.rename({2:'Availability(Monthly)'},inplace = True, axis = 1)
df.rename({3:'Light'},inplace = True, axis = 1)
df.rename({4:'Price'},inplace = True, axis = 1)
df.rename({5:'Availability'},inplace = True, axis = 1)

In [99]:
df['Availability'] = pd.to_datetime(df['Availability'])

In [100]:
df.head()

              Category                   Plant  ...  Price Availability
0            Bloodroot  Sanguinaria canadensis  ...  $2.44   1999-03-15
1            Columbine    Aquilegia canadensis  ...  $9.37   1999-03-06
2       Marsh Marigold        Caltha palustris  ...  $6.81   1999-05-17
3              Cowslip        Caltha palustris  ...  $9.90   1999-03-06
4  Dutchman's-Breeches     Dicentra cucullaria  ...  $6.44   1999-01-20

[5 rows x 6 columns]

In [101]:
df.drop(['Availability'],inplace = True, axis = 1)

In [102]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [103]:
df.to_excel('plant_catalog.xlsx')
!cp plant_catalog.xlsx "drive/My Drive/"